* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
   padding : 0px 100px;
}

.imageOmelette{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 50px 0px;
}

.imageOmelette img{
    border-radius: 15px;
}

h1 {
    font-size: 75px;
}

.description {
    margin: 35px 0px;
    font-size: 35px;
    color: #333333;
}

.preparationTime{
    background-color: hsl(330, 100%, 98%);
    height: 220px;
    padding: 30px 40px;
    border-radius: 15px;
}

.preparationTime h3{
    font-size: 35px;
    color: hsl(332, 51%, 32%);
    margin-bottom: 15px;
}

.list{
    margin-left: 27px;
    font-size: 25px;
}

.itemList {
    margin-bottom: 15px;
}

h2{
    color: hsl(14, 45%, 36%);
    font-size: 50px;
    margin: 30px 0px;
}

.itemText{
    position: relative;
    left: 20px;
    color: hsl(30, 10%, 34%);
}

.border{
    border-color:hsl(30, 18%, 87%);
    margin-top: 35px;
}


.itemListOl {
    margin-bottom: 15px;
}

.itemListOl::marker {
    color: hsl(14, 45%, 36%);
    font-weight: 900;
}

#tableDescription{
    font-size: 25px;
    color: hsl(30, 10%, 34%);
}

strong{
    color: hsl(24, 5%, 18%);
}

.nutrition-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0px;
}

.nutrition-table tr:not(:last-child) td {
    border-bottom: 1px solid hsl(30, 18%, 87%); /* Ajuste a cor conforme necessário */
}

.nutrition-table td {
    padding: 12px 50px;
    font-size: 25px;
    color: hsl(30, 10%, 34%); 
}

.nutrition-table td:last-child {
    font-weight: bold;
    color: hsl(14, 45%, 36%);
}

.nutrition-table tr:last-child td {
    border-bottom: 0px;
}
